<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
        mostly barebones HTML document.</p>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">

        {{#if message }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {{/if}}

        <form action="/" method="post">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">
                Submit
            </button>
        </form>
    </div>
</div>
